apex==0.9.10dev
clip==0.2.0
decord==0.6.0
deepspeed==0.14.0
einops==0.8.0
mediapy==1.2.2
numpy==2.0.1
opencv_python==4.9.0.80
p_tqdm==1.4.0
pandas==2.2.2
Pillow==10.4.0
scikit_learn==1.4.0
scipy==1.14.0
skimage==0.0
submitit==1.5.1
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
timm==0.4.12
torch==2.0.0a0+git96ca226
torchvision==0.19.0
tqdm==4.66.2
webdataset==0.2.86
